BizTalk.Adapter.RFC/ConsoleApplication2/Service References/ServiceReference2/BizTalk_RFC_TM_KSJD_401_Orchestration_Inbound.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s1="http://BizTalk.RFC.Schemas.INPUT.Z2FM_QO_TRQ_CRT" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s2="http://BizTalk.RFC.Schemas.OUTPUT.Z2FM_QO_TRQ_CRT" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">BizTalk assembly "BizTalk.RFC.TM_KSJD_401, Version=1.0.0.0, Culture=neutral, PublicKeyToken=536676318ba4a4c3" published web service.</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="http://BizTalk.RFC.Schemas.INPUT.Z2FM_QO_TRQ_CRT" />
      <s:import namespace="http://BizTalk.RFC.Schemas.OUTPUT.Z2FM_QO_TRQ_CRT" />
      <s:element name="Exec">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:Z2FM_QO_TRQ_CRT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExecResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s2:Z2FM_QO_TRQ_CRT_RES" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://BizTalk.RFC.Schemas.INPUT.Z2FM_QO_TRQ_CRT">
      <s:element name="Z2FM_QO_TRQ_CRT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="INPUT">
              <s:complexType>
                <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="ROOT">
                    <s:complexType>
                      <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="AMT_GDSV_CUR" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="AMT_GDSV_VAL" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="BASE_BTD_ID" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="CONSIGNEE_ID" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="CONSIGNEE_KEY" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="DES_LOC_ID" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="DES_LOC_KEY" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="FAG_ITEM_KEY" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="FAG_KEY" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="LIFECYCLE" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="MOVEM_TYPE" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="ORDER_PARTY_ID" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="ORDER_PARTY_KEY" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="PIC_EAR_REQ" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="SALES_ORG_ID" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="SERVICE_PRODUCT_ID" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="SHIPPER_ID" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="SHIPPER_KEY" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="SRC_LOC_ID" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="SRC_LOC_KEY" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="TRANSSRVLVL_CODE" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="TRQ_TYPE" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="ZBCBJ" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="ZCHUBCSJ" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="ZCJTK" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="ZFDH" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="ZHDFYD" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="ZHWDL" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="ZHYDL" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="ZJDBZL" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="ZJHBZ" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="ZJHHBRQ" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="ZJHSHTHRQ" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="ZJHUBCSJ" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="ZJSBZL" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="ZKHFPHL" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="ZKHZBH" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="ZKJBJ" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="ZMDG" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="ZQYG" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="ZSHYQBZL" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="ZTGFS" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="ZTHYQBZL" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="ZZDH" type="s:string" />
                      </s:sequence>
                    </s:complexType>
                  </s:element>
                  <s:element minOccurs="0" maxOccurs="1" name="ZROOTEXD1">
                    <s:complexType>
                      <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="ZCGS" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="ZCGSJSH" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="ZCZTG1" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="ZDCYQBZL" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="ZJH" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="ZJHSHRQ" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="ZJHTHRQZGRQ" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="ZKHFPH" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="ZKHJSH" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="ZKHRQ" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="ZKHSX" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="ZLH" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="ZLX" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="ZMDG1HC" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="ZMDGHC" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="ZMDHJ" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="ZPCFS" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="ZQTBZL" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="ZQYDHC" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="ZQYG" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="ZQYG1" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="ZTDMDGHC" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="ZTYHBJ" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="ZXSY" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="ZYCCMHJ" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="ZYCHCHJ" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="ZYCTDHJ" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="ZZLQQ" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="ZZLQQRQ" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="ZZYGQHC" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="ZZZGHC" type="s:string" />
                      </s:sequence>
                    </s:complexType>
                  </s:element>
                  <s:element minOccurs="0" maxOccurs="unbounded" name="ZTD">
                    <s:complexType>
                      <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="ZBGKZX" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="ZDRTZR" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="ZDRTZRJC" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="ZFHR" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="ZFHRJC" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="ZHWMS" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="ZKHZBH" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="ZMT" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="ZSBYTD" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="ZSHR" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="ZSHRJC" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="ZTZR" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="ZTZRJC" type="s:string" />
                      </s:sequence>
                    </s:complexType>
                  </s:element>
                  <s:element minOccurs="0" maxOccurs="unbounded" name="PARTY">
                    <s:complexType>
                      <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="PARTY_ID" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="PARTY_RCO" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="PARTY_UUID" type="s:string" />
                      </s:sequence>
                    </s:complexType>
                  </s:element>
                  <s:element minOccurs="0" maxOccurs="unbounded" name="ITEM">
                    <s:complexType>
                      <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="ITEM">
                          <s:complexType>
                            <s:sequence>
                              <s:element minOccurs="0" maxOccurs="1" name="ITEM_ID" type="s:string" />
                              <s:element minOccurs="0" maxOccurs="1" name="ITEM_CAT" type="s:string" />
                              <s:element minOccurs="0" maxOccurs="1" name="TRANSSRVREQ_CODE" type="s:string" />
                              <s:element minOccurs="0" maxOccurs="1" name="QUA_PCS_VAL" type="s:string" />
                              <s:element minOccurs="0" maxOccurs="1" name="QUA_PCS_UNI" type="s:string" />
                              <s:element minOccurs="0" maxOccurs="1" name="BASE_UOM_VAL" type="s:string" />
                              <s:element minOccurs="0" maxOccurs="1" name="BASE_UOM_UNI" type="s:string" />
                              <s:element minOccurs="0" maxOccurs="1" name="GRO_WEI_VAL" type="s:string" />
                              <s:element minOccurs="0" maxOccurs="1" name="GRO_WEI_UNI" type="s:string" />
                              <s:element minOccurs="0" maxOccurs="1" name="GRO_VOL_VAL" type="s:string" />
                              <s:element minOccurs="0" maxOccurs="1" name="GRO_VOL_UNI" type="s:string" />
                              <s:element minOccurs="0" maxOccurs="1" name="PACKAGE_TCO" type="s:string" />
                              <s:element minOccurs="0" maxOccurs="1" name="ZGQSX" type="s:string" />
                              <s:element minOccurs="0" maxOccurs="1" name="ZJCKKA" type="s:string" />
                              <s:element minOccurs="0" maxOccurs="1" name="ZKACZRQHJ" type="s:string" />
                              <s:element minOccurs="0" maxOccurs="1" name="ZMYFS1" type="s:string" />
                              <s:element minOccurs="0" maxOccurs="1" name="ZSBFS" type="s:string" />
                              <s:element minOccurs="0" maxOccurs="1" name="ZSBGQ" type="s:string" />
                              <s:element minOccurs="0" maxOccurs="1" name="ZWTFS" type="s:string" />
                            </s:sequence>
                          </s:complexType>
                        </s:element>
                        <s:element minOccurs="0" maxOccurs="1" name="ZITEMEXD1">
                          <s:complexType>
                            <s:sequence>
                              <s:element minOccurs="0" maxOccurs="1" name="ZBGFS" type="s:string" />
                              <s:element minOccurs="0" maxOccurs="1" name="ZBGJYDW" type="s:string" />
                              <s:element minOccurs="0" maxOccurs="1" name="ZCGZZDM" type="s:string" />
                              <s:element minOccurs="0" maxOccurs="1" name="ZEXZYHTFPH" type="s:string" />
                              <s:element minOccurs="0" maxOccurs="1" name="ZFWGFDM1" type="s:string" />
                              <s:element minOccurs="0" maxOccurs="1" name="ZJHBGRQ" type="s:string" />
                              <s:element minOccurs="0" maxOccurs="1" name="ZMZBZ" type="s:string" />
                              <s:element minOccurs="0" maxOccurs="1" name="ZZHQDH" type="s:string" />
                            </s:sequence>
                          </s:complexType>
                        </s:element>
                        <s:element minOccurs="0" maxOccurs="1" name="ITEMCCODE">
                          <s:complexType>
                            <s:sequence>
                              <s:element minOccurs="0" maxOccurs="1" name="CCODE_TYPE" type="s:string" />
                              <s:element minOccurs="0" maxOccurs="1" name="CCODE" type="s:string" />
                              <s:element minOccurs="0" maxOccurs="1" name="ZZWPM" type="s:string" />
                            </s:sequence>
                          </s:complexType>
                        </s:element>
                      </s:sequence>
                    </s:complexType>
                  </s:element>
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://BizTalk.RFC.Schemas.OUTPUT.Z2FM_QO_TRQ_CRT">
      <s:element name="Z2FM_QO_TRQ_CRT_RES">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OUTPUT">
              <s:complexType>
                <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="MANDT" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" name="DB_KEY" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" name="TRQ_ID" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" name="TRQ_TYPE" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" name="ORDER_DATE" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" name="CREATED_BY" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" name="SALES_ORG_ID" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="unbounded" name="ITEM">
                    <s:complexType>
                      <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="MANDT" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="DB_KEY" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="PARENT_KEY" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="ITEM_ID" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="ITEM_CAT" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="TRANSSRVREQ_CODE" type="s:string" />
                      </s:sequence>
                    </s:complexType>
                  </s:element>
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="unbounded" name="ET_RETURN">
              <s:complexType>
                <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="MSG_TYPE" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" name="MSG_ID" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" name="MSG_NO" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" name="MSG_TEXT" type="s:string" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ExecSoapIn">
    <wsdl:part name="parameters" element="tns:Exec" />
  </wsdl:message>
  <wsdl:message name="ExecSoapOut">
    <wsdl:part name="parameters" element="tns:ExecResponse" />
  </wsdl:message>
  <wsdl:portType name="BizTalk_RFC_TM_KSJD_401_Orchestration_InboundSoap">
    <wsdl:operation name="Exec">
      <wsdl:input message="tns:ExecSoapIn" />
      <wsdl:output message="tns:ExecSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BizTalk_RFC_TM_KSJD_401_Orchestration_InboundSoap" type="tns:BizTalk_RFC_TM_KSJD_401_Orchestration_InboundSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Exec">
      <soap:operation soapAction="http://tempuri.org/BizTalk_RFC_TM_KSJD_401_Orchestration_Inbound/Exec" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BizTalk_RFC_TM_KSJD_401_Orchestration_InboundSoap12" type="tns:BizTalk_RFC_TM_KSJD_401_Orchestration_InboundSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Exec">
      <soap12:operation soapAction="http://tempuri.org/BizTalk_RFC_TM_KSJD_401_Orchestration_Inbound/Exec" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BizTalk_RFC_TM_KSJD_401_Orchestration_Inbound">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">BizTalk assembly "BizTalk.RFC.TM_KSJD_401, Version=1.0.0.0, Culture=neutral, PublicKeyToken=536676318ba4a4c3" published web service.</wsdl:documentation>
    <wsdl:port name="BizTalk_RFC_TM_KSJD_401_Orchestration_InboundSoap" binding="tns:BizTalk_RFC_TM_KSJD_401_Orchestration_InboundSoap">
      <soap:address location="http://localhost/BizTalk.RFC.TM_KSJD_401_Proxy/BizTalk_RFC_TM_KSJD_401_Orchestration_Inbound.asmx" />
    </wsdl:port>
    <wsdl:port name="BizTalk_RFC_TM_KSJD_401_Orchestration_InboundSoap12" binding="tns:BizTalk_RFC_TM_KSJD_401_Orchestration_InboundSoap12">
      <soap12:address location="http://localhost/BizTalk.RFC.TM_KSJD_401_Proxy/BizTalk_RFC_TM_KSJD_401_Orchestration_Inbound.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>